extends layout

block content
  .container.mt-5.text-center
    h1 Acceso Denegado (403)
    p No tiene los permisos necesarios para acceder a esta sección.
    p
      a.btn.btn-primary.mt-3(href="/") Ir a la Página Principal
