extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-12
        h1.text-center.mb-4 #{title}
        p.text-center Bienvenido, #{usuario.nombre_completo} (#{usuario.rol}).
        .row.g-4
          .col-md-6.col-lg-3
            a(href="/pacientes/nuevo", class="card text-center menu-card mb-4 btn-violeta")
              .card-body
                i.fas.fa-user-plus.fa-2x.mb-2
                h5.card-title Registrar Nuevo Paciente
          .col-md-6.col-lg-3
            a(href="/pacientes", class="card text-center menu-card mb-4 btn-violeta")
              .card-body
                i.fas.fa-users.fa-2x.mb-2
                h5.card-title Ver Todos los Pacientes
          .col-md-6.col-lg-3
            a(href="/admisiones", class="card text-center menu-card mb-4 btn-violeta")
              .card-body
                i.fas.fa-notes-medical.fa-2x.mb-2
                h5.card-title Ver Todas las Admisiones

          if usuario.rol === 'Admin'
            .col-md-6.col-lg-3
              a(href="/alas", class="card text-center menu-card mb-4 btn-violeta")
                .card-body
                  i.fas.fa-hotel.fa-2x.mb-2
                  h5.card-title Gestionar Alas
            .col-md-6.col-lg-3
              a(href="/habitaciones", class="card text-center menu-card mb-4 btn-violeta")
                .card-body
                  i.fas.fa-door-open.fa-2x.mb-2
                  h5.card-title Gestionar Habitaciones
            .col-md-6.col-lg-3
              a(href="/camas", class="card text-center menu-card mb-4 btn-violeta")
                .card-body
                  i.fas.fa-bed.fa-2x.mb-2
                  h5.card-title Gestionar Camas