extends layout

block content
  h1 #{title} 
  p Bienvenido a Clinica Gontero.
  p 
    a(href="/pacientes/nuevo") Registrar Nuevo Paciente
  p 
    a(href="/pacientes") Ver Todos los Pacientes    
  p 
    a(href="/admisiones") Ver Todas las Admisiones
  p 
    a(href="/admisiones/nueva") Registrar Nueva Admisión