doctype html
html(lang="es")
  head
    title Clínica Privada
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // Bootstrap CSS CDN
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
  
    link(rel="stylesheet" href="/styles/main.css")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
  body
    header
      nav
        ul
          li: a(href="/") Inicio

          li: a(href="/contacto") Contacto

    main
      block content 
    footer
      p © 2025 Clínica Privada. Todos los derechos reservados.